@import "bootstrap";
@import "bootstrap-icons";
@import "./masthead.css";
@import "./palette.css";
@import "./tinymce.css";
@import "./loader.css";

.rating {
    color: orange; /* Cambia il colore delle stelline */
}

.star {
    font-size: 20px; /* Dimensione delle stelline */
}

.my_alert-danger {
    background-color: rgba(246, 7, 7, 0.886);
}

.my-alert-success {
    color: white;
    background-color: green;
}

.error-message {
    min-height: 1rem;
    /* Riserva spazio per i messaggi di errore */
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out; /* Aggiunge una transizione fluida */
    text-align: center;
}

.error {
    font-size: 0.875rem;
}

.btn:hover {
    /* background-color: var(--color-c); */
    color: white;
    transition: 0.5s;
    transform: scale(0.95);
}

.altezza {
    height: 2000px;
}

.masthead-position {
    top: 70%;
    /* background-color: red; */
    width: 100%;
}

.text-shadow {
    text-shadow: 1px 2px 3px black;
}
.message {
    width: 30vw;
    margin: 0px;
}

@media screen and (max-width: 768px) {
    .message {
        width: 80vw;
    }

    .masthead-position {
        top: 50%;
    }
}

.current-image {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.current-image img {
    display: block;
    max-width: 100px;
    max-height: 100px;
}
.current-image button {
    position: absolute;
    top: 0;
    right: 0;
}

.faq-section {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-item h3 {
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--color-a);
}

.logo-img {
    width: 25vw;
    max-width: 200px;
    padding: 0px;
}

.img-content {
    width: 100%;
}

.navbar_toggler_focused:focus {
    box-shadow: 0px 0px 15px 2px gray !important;
    -webkit-box-shadow: 0px 0px 15px 2px gray !important;
    -moz-box-shadow: 0px 0px 15px 2px gray !important;
}

.nav-link {
    color: var(--color-d);
}

.nav-link:hover {
    color: var(--color-a);
}

.active_nav {
    color: var(--color-a) !important;
}

.active_page {
    background-color: var(--color-a) !important;
}

.active_page:hover {
    background-color: var(--color-b) !important;
    color: white !important;
}

.page-link {
    color: black;
    border: none;
}

.page-link:hover {
    color: var(--color-a);
}

.text_col {
    color: var(--color-a);
}

h1,
h2 {
    color: var(--color-a);
    text-transform: uppercase;
    text-wrap: nowrap;
    font-weight: lighter;
}

p .h1 {
    text-transform: uppercase;
    text-wrap: nowrap;
    font-weight: lighter;
}

.border_custom {
    border-bottom: 5px solid var(--color-a);
}

.border_footer {
    border-top: 5px solid var(--color-a);
}

.form_input_focused:focus {
    border-color: var(--color-a);
    box-shadow: 0px 0px 5px 1px var(--color-a) !important;
    -webkit-box-shadow: 0px 0px 5px 1px var(--color-a) !important;
    -moz-box-shadow: 0px 0px 5px 1px var(--color-a) !important;
    color: var(--color-a) !important;
}

.form-check-input:checked {
    background-color: var(--color-a);
    border-color: var(--color-a);
}

a:hover {
    color: var(--color-a) !important;
    transform: scale(0.98);
    transition: 0.3s;
}

.bg_nav {
    background-color: rgb(255, 255, 255);
}

.btn_font_size {
    font-size: 0.9rem;
}

.text-small {
    font-size: small;
}

.fixed_height {
    height: 250px;
}

.img_carRent {
    /* min-width: 60px; */
    height: 100%;
    max-height: 100px;
    /* max-width: 150px; */
}

.form_check_round {
    width: 26px;
    height: 26px;
}

#labelRent {
    margin: 0px;
    padding: 0px;
}

.form-check-input_custom {
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: none;
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.form-check-input_custom:checked {
    background-color: none !important;
    border-color: none !important;
    border-color: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    color: none !important;
}

.whatsapp {
    top: 90%;
    right: 5%;
    position: fixed;
    z-index: 100;
    background-color: var(--color-d);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.img-show{
    width: 100%;
    max-width: 700px;
}

.text-responsive {
    font-size: 1.4rem;
}

.top_custom {
    top: 25px;
}


