.loader-wrapper {
    position: relative;
    width: 0px;
    height: 0px;
    
    /* z-index: 10000; */
}

.loader {
    width: 30px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    filter: drop-shadow(0 0 0.75rem gray);
    /* background-color: red; */
    top: -40px;
    left: 250px;
}

.loader:before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #0000;
    border-color: #fff #fff #0000 #0000;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotate 2s ease-in-out infinite;
    transform: rotate(-360deg);
}

@keyframes rotate {
    0% {
        border-width: 10px;
    }
    25% {
        border-width: 3px;
    }
    50% {
        transform: rotate(360deg);
        border-width: 10px;
    }
    75% {
        border-width: 3px;
    }
    100% {
        border-width: 10px;
    }
}
