.carousel-item {
    /* min-height: 100px; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.masthead {
    height: 100vh;
    min-height: 100px;
    width: 100vw;
    object-fit: cover;
}

.pos_masthead {
    top: 15%;
}

.indicators_space {
    height: 60px;
}

/* Gestione dell'immagine */
.img_car {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Immagine più in basso nel livello */
}

/* Sovrapposizione con gradiente */
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.01) 100%
    );
    z-index: 1; /* Sopra l'immagine, sotto il contenuto */
    pointer-events: none; /* Non interferisce con le interazioni */
}

/* Contenitore del contenuto */
#headerContainer {
    z-index: 2; /* Sopra immagine e gradiente */
    color: white; /* Testo visibile sopra gradiente scuro */
}

/* Testo nella testata */
#headerText {
    height: 700px;

    z-index: 2; /* Per sicurezza, sopra tutti */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); /* Migliora leggibilità */
}

#headerBooking {
    height: 700px;
    z-index: 2; /* Per sicurezza, sopra tutti */
}

@media screen and (max-width: 992px) {
    #headerText {
        height: auto;
    }
    #headerBooking {
        height: 500px;
    }
}

.service {
    width: 100%;
    /* height: 40vh !important; */
    padding: 0px;
    /* min-height: 450px !important;  */
}

.service-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    max-width: 600px;
}

.service_custom {
    width: 100%;
}

.service-img_custom {
    width: 300px;
}

.excursion {
    width: 100%;
    /* height: 50vh !important; */
    padding: 0px;
    /* min-height: 350px !important;  */
}

/* Per dispositivi con larghezza >= 768px (tablet e desktop) */
@media screen and (min-width: 768px) {
    .excursion-img {
        width: 100%; /* Larghezza fissa per tutte le immagini */
        height: 250px; /* Altezza fissa */
        object-fit: cover; /* Mantiene le proporzioni senza deformazioni */
    }
}

/* Per dispositivi con larghezza < 768px (mobile) */
@media screen and (max-width: 767px) {
    .excursion-img {
        width: 100%; /* Larghezza fissa per tutte le immagini */
        height: 200px; /* Altezza ridotta per dispositivi più piccoli */
        object-fit: cover; /* Mantiene le proporzioni senza deformazioni */
    }
}
