.carousel-item {
    height: 70vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.service {
    width: 20vw;
    height: 30vh !important;
    padding: 0px;
    min-height: 0px !important; 
}

.service-img {
    width: 40%;
}