:root {
    --color-a: #0088ff;
    --color-b: #fcfafa;
    --color-c: #ebebeb;
    --color-d: #00ac0e;
}

.bg-a {
    background-color: var(--color-a) !important;
}

.bg-b {
    background-color: var(--color-b) !important;
}

.bg-c {
    background-color: var(--color-c) !important;
}

.bg-d {
    background-color: var(--color-d) !important;
}

.bg-linear-gradient {
    background: linear-gradient(0deg, var(--color-c), white );
}

.text-a {
    color: var(--color-a) !important;
}

.text-b {
    color: var(--color-b) !important;
}

.text-c {
    color: var(--color-c) !important;
}

.text-d {
    color: var(--color-d) !important;
}
