:root {
    --color-a: #0088ff;
    --color-b: #2d2e2c;
    --color-c: #e7e8ee;
    --color-d: #00AC0E;
}

.bg-a{
    background-color: var(--color-a) !important;
}

.bg-b{
    background-color: var(--color-b) !important;
}

.bg-c{
    background-color: var(--color-c) !important;
}

.bg-d{
    background-color: var(--color-d) !important;
}

.text-a{
    color: var(--color-a) !important;
}

.text-b{
    color: var(--color-b) !important;
}

.text-c{
    color: var(--color-c) !important;
}

.text-d{
    color: var(--color-d) !important;
}

